
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 12%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #f9de59; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    border-right: 5px solid #e8a628
}

.articles {
    text-align: center;
    margin-left: 550px;
    margin-right: 450px;
}

.button {
    background-color: #f98365;
    color: black;
    border-radius: 12px;
    font-size: 20px;
}

.sidenav ul{
    list-style: none;
}

.sidenav ul li {
    color: black;
    display: block;
    margin-top: 20px;
}

h3 {
    margin-left: 20px;
}